.DS_Store
Dockerfile.*
!Dockerfile.template
.build/
.swiftpm/
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
.vscode/
/junit-swift-testing.xml
/junit.xml
